:root {
    --borderWidth: 0px;
  }

.container{
    display: flex;
    gap: var(--borderWidth);
    padding: var(--borderWidth);
    width: 600px;
    height: 600px;
    border: black 2px solid;
    margin: auto;
    background-color: black;
    flex-direction: column;
}

.box-line{
    display: flex;
    flex: 1 0 0;
    background-color: black;
    gap: var(--borderWidth);
}

.box{
    flex: 1 0 0;
    background-color: white;
    transition: background-color 1s;
}
